* {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;

    font-style: normal;
}

.font-nato {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;

    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.bavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 50px;
}

.n3 {
    text-decoration: none;
    margin-left: 48px;
    font-size: 1rem;
    font-weight: 400;
}

.dark1 {
    color: rgb(37, 36, 50);
    font-weight: 700;
}

.dark2 {
    color: rgb(137, 135, 161);
}

.black {
    color: black;
}

.logo {
    max-width: 135px;
    height: 82px;
}

/* second part  */

.f1 {
    display: flex;
    margin-top: 150px;

}

.f2 {
    align-content: flex-end;
    display: block;

}

.f5 {
    font-weight: 400;
    font-size: 1.2rem;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}

.f4,
.f3 {
    font-size: 4.06rem;
    font-weight: 700;
    margin: 0;
    color: rgb(233, 90, 8);
    z-index: 1;

}

.f4 {
    color: rgb(0, 0, 0);
    z-index: 2;
}



/* nav mobile version  */


@media only screen and (max-width: 768px) {
    .container {}

    .body {
        background-color: white;
        margin: 0 50px;
    }

    .navbar {
        justify-content: space-between;
    }

    .sap {
        display: none;
    }

    /* second part  */

    .f1 {
        flex-direction: row-reverse;
        flex-direction: column-reverse;

    }

    .f2 {
        padding: 50px;
    }




}